
@model  LandingPageModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid header1 header2 minify-header appfamily-header">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Microsoft PowerPoint File Format Solution</h1>
				<h2>Create, parse or manipulate presentations, slides & elements without requiring Microsoft Office.</h2>
			</div>
			<div class="col-md-4 tc">
				<img class=" col-xs-12" src="../img/aspose_slides-brand.png" alt="Aspose.Slides" width="320" />
			</div>
			<!--/col6 -->
		</div>
		<!--/row -->
	</div>
	<!--/container -->
</div>
<div class="container-fluid productfamilypage bg-white pdb-5">
	<div class="row">
		<div class="container tc">
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>
			<h3>@string.Format(@Model.Resources["AsposeProductFamilyInclude"], @Model.Resources["AsposeSlides"]) </h3>
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_viewer-app.png" alt="Aspose.Slides for .NET" />
					</div>
					<a href="/slides/viewer"><span class="spanclass">@Model.Resources["AsposeSlides"] @Model.Resources["AsposeProductFor"]<em>Viewer</em></span><em>View Microsoft PowerPoint presentations and slides in your favorite browser from anywhere.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_conversion-app.png" alt="Aspose.Slides for .NET" />
					</div>
					<a href="/slides/conversion"><span class="spanclass">@Model.Resources["AsposeSlides"] @Model.Resources["AsposeProductFor"]<em>@Model.Resources["Conversionh4"]</em></span><em>Easily convert Microsoft PowerPoint files to PDF, HTML, images and many other popular file formats without leaving your favorite browser.</em></a>
				</div>
			</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_unlock-app.png" alt="Aspose.Slides for .NET" />
					</div>
					<a href="/slides/unlock"><span class="spanclass">@Model.Resources["AsposeSlides"] @Model.Resources["AsposeProductFor"]<em>Unlock</em></span><em>Unlock your password protected and readonly MS PowerPoint (PPT, PPTX) and OpenOffice Presentations (ODP) within web browser.</em></a>
				</div>

			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_protect-app.png" alt="Aspose.Slides for .NET" />
					</div>
					<a href="/slides/lock"><span class="spanclass">@Model.Resources["AsposeSlides"] @Model.Resources["AsposeProductFor"]<em>Lock</em></span><em>Password protect PowerPoint and OpenOffice presentation. Send presentation as email attachment.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_annotation-app.png" alt="Aspose.Slides for .NET" />
					</div>
					<a href="/slides/annotation"><span class="spanclass">@Model.Resources["AsposeSlides"] @Model.Resources["AsposeProductFor"]<em>Annotation</em></span><em>Free App to remove Annotations from PowerPoint presentations on any platform.</em></a>
				</div>

			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_search-app.png" alt="Aspose.Slides for .NET" />
					</div>
					<a href="/slides/search"><span class="spanclass">@Model.Resources["AsposeSlides"] @Model.Resources["AsposeProductFor"]<em>Search</em></span><em>Search text in Microsoft PowerPoint presentations (PPT, PPTX) or OpenDocument Presentation files.</em></a>
				</div>
			</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_parser-app.png" alt="Aspose.Slides for .NET" />
					</div>
					<a href="/slides/parser"><span class="spanclass">@Model.Resources["AsposeSlides"] @Model.Resources["AsposeProductFor"]<em>Parser</em></span><em>Online app to extract images and text from PowerPoint and OpenOffice presentation.</em></a>
				</div>

			</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_redaction-app.png" alt="Aspose.Slides for .NET" />
					</div>
					<a href="slides/redaction"><span class="spanclass">@Model.Resources["AsposeSlides"] @Model.Resources["AsposeProductFor"]<em>Redaction</em></span><em>Remove text, comments, document properties by regexp data matching in PowerPoint and OpenOffice presentation formats.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_splitter-app.png" alt="Aspose.Slides for .NET" />
					</div>
					<a href="/slides/splitter"><span class="spanclass">@Model.Resources["AsposeSlides"] @Model.Resources["AsposeProductFor"]<em>Splitter</em></span><em>Split PowerPoint presentations into multiple files.</em></a>
				</div>

			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_merger-app.png" alt="Aspose.Slides for .NET" />
					</div>
					<a href="/slides/merger"><span class="spanclass">@Model.Resources["AsposeSlides"] @Model.Resources["AsposeProductFor"]<em>Merger</em></span><em>Merge Microsoft PowerPoint and OpenOffice presentations. Apply PowerPoint slide master templates.</em></a>
				</div>

			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_metadata-app.png" alt="Aspose.Slides for .NET" />
					</div>
					<a href="/slides/metadata"><span class="spanclass">@Model.Resources["AsposeSlides"] @Model.Resources["AsposeProductFor"]<em>Metadata</em></span><em>Merge Microsoft PowerPoint and OpenOffice presentations. Apply PowerPoint slide master templates.</em></a>
				</div>

			</div>
		<div class="col-lg-4 productfamily_box">
			<div class="productfamilytitle">
				<div class="imgblock">
					<img src="../img/aspose_watermark-app.png" alt="Aspose.Slides for .NET" />
				</div>
				<a href="/slides/watermark"><span class="spanclass">Aspose.Slides <em>Watermark</em></span><em>Add & remove watermark to Microsoft PowerPoint PPT online.</em></a>
			</div>

		</div>


		
		</div>
	</div>
</div>
<div class="spacer">&nbsp;</div>
