@model  Aspose.Slides.Web.UI.Models.Interfaces.IRedactionModel

<div class="container-fluid asposetools pb5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-5 pb-5">
                <partial name="HeaderProduct" for="@Model" />
                <partial name="UploadFile" for="UploadFile" />
                <partial name="DownloadResult" for="@Model" />
                <partial name="Alert" for="@Model" />
                <partial name="Loader" for="@Model" />

                <div id="WorkPlaceHolder">
                    <form class="workForm" method="POST">
                        <div class="search" style="margin-bottom: 30px;">
                            <input type="password" name="Password" class="form-control" placeholder="@Model.SearchQuery" />
                        </div>

                        <input type="hidden" name="id" />

                        <div class="convertbtn">
                            <input type="submit" class="btn btn-success btn-lg" ID="workButton" value="@Model.WorkButtonText" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            registerUploadHandlers();
            registerFormHandlers();
        });

        window.Method = "Unlock";
        window.APIMethodWorkUrl = `${APIBasePath}api/Slides/Unlock`;

        window.afterUploadSuccess = function (data, textStatus, xhr) {
            showInfo(window.Resources["SuccessfullyUploaded"]);
        }
    </script>
}